[Unit]
Description="Charts and api server"

[Service]
User=debian
WorkingDirectory=/home/debian/charts_server
ExecStart=/home/debian/charts_server/main
Restart=always

[Install]
WantedBy=multi-user.target