[Unit]
Description="Charts and api server"

[Service]
User=debian
WorkingDirectory=/home/debian/liquidator
ExecStart=go run ./cmd/main.go
Restart=always

[Install]
WantedBy=multi-user.target