[Unit]
Description="Sync testnet service"

[Service]
User=debian
WorkingDirectory=/home/debian/synctron
ExecStart=go run ./cmd/main.go
Restart=always

[Install]
WantedBy=multi-user.target