[Unit]
Description="Analytical service"

[Service]
User=debian
WorkingDirectory=/home/debian/third-eye
ExecStart=/home/debian/third-eye/main
Restart=always
RestartSec=3 

[Install]
WantedBy=multi-user.target